In [33]:
%pip install -q pandas numpy

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\Илья\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [34]:
import pandas as pd
import numpy as np

In [35]:
data = pd.read_csv('logs.csv', encoding='utf-8')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [37]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [38]:
data['user_id'].value_counts()

user_id
5678294978    11
1743281508    10
9713454510    10
9798964800     9
7450740664     9
              ..
7850712396     1
7415908571     1
7875937474     1
3655904078     1
6064948744     1
Name: count, Length: 86571, dtype: int64

In [39]:
data[data.isna()]['source']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
199995    NaN
199996    NaN
199997    NaN
199998    NaN
199999    NaN
Name: source, Length: 200000, dtype: object

In [40]:
data['source'] = data['source'].replace('None', None)
data['source'] = data['source'].replace('undef', None)

In [41]:
data_gb_ui = data.groupby('user_id')['purchase'].sum()

In [42]:
data_gb_ui.sort_values(ascending=False)

user_id
7370058986    4
3708073012    3
5189168982    3
922485345     3
463130195     3
             ..
3552682911    0
3552629301    0
3552349983    0
3552156723    0
9999792842    0
Name: purchase, Length: 86571, dtype: int64

In [44]:
total_installs = data.shape[0]
total_purchase = data['purchase'].sum()

total_purchase / total_installs

0.060515

In [48]:
unique_install = data_gb_ui.shape[0]
unique_purchase = pd.DataFrame(data_gb_ui).query('purchase != 0')

unique_conversion = unique_purchase / unique_install
print(unique_conversion)

            purchase
user_id
410719      0.000012
960247      0.000012
1068100     0.000012
2856383     0.000023
3438611     0.000012
...              ...
9993477852  0.000012
9995601531  0.000012
9995697183  0.000012
9998572740  0.000012
9999648511  0.000012

[11463 rows x 1 columns]

In [ ]:
avoid_n = 0